* {
  margin: 0;
  padding: 0;
}

body {
  background-color: #f3f2f2;
}

.main-header {
  background-color: #007bff;
}

.navbar {
  padding-left: 0;
}

.title-wrapper {
  margin-top: 2em;
  margin-bottom: 2em;
}

.form-wrapper {
  width: 40%;
  margin-bottom: 2em;
}

.half-width {
  width: 50%;
}

.mark-list-wrapper {
  width: 100%;
  margin-top: 1.5em;
}

.mark-list {
  box-shadow: 1px 0 10px rgba(97, 97, 97, 0.6);
  list-style: none;
  padding: 0 1.2em;
}

.mark-list > * {
  padding: 10px 0;
}

.mark-list__item {
  border-top: 1px solid #bfbfbf;
}

.actions {
  float: right;
  position: relative;
  right: 25%;
}

.action-link {
  margin: 0 -2px;
  padding: 0;
}

.action-link:not(.last):after {
  content: "|";
  margin: 0 5px;
}

.action-link:hover:not(.last):after {
  content: "|";
  margin: 0 5px;
  color: #007bff;
}

.mark-list__mark-value {
  position: absolute;
  left: 45%;
}

.popup-form-wrapper {
  padding: 20px;
}

.popup-header {
  padding: 20px 20px 0 20px;
}

.custom-control-label {
  position: absolute;
  left: 0;
}
.custom-control-label:focus {
  outline: none;
}
.custom-control-label:before,
.custom-control-label:after {
  left: 8em;
}

.form-control-wrapper {
  display: flex;
  justify-content: space-between;
}

.alternative {
  width: 48%;
}

.alternative p {
  text-align: center;
}

li.header {
  display: flex;
  justify-content: space-around;
  font-weight: 500;
  padding: 10px 0;
  border-bottom: 2px solid #ccc;
}

li.criteria-item {
  display: flex;
  justify-content: space-between;
  border-top: 1px solid #cecece;
  padding: 10px;
  font-weight: 400;
}

.alternative ul {
  background-color: #fff;
  box-shadow: 0 0 25px #ccc;
}

.make-choose {
  margin: 15px auto;
  display: block;
  width: 35%;
}

.radio-button-wrapper {
  display: flex;
  justify-content: space-evenly;
  padding: 15px;
  background: #fff;
}

.radio label {
  margin: 0;
}